# Duplicates from setup.py
aniso8601==8.0.0
future==0.18.2
jsonschema==3.2.0
language-tags==1.0.0
openbadges_bakery==1.1.0
pycryptodome==3.9.7
pydux==0.2.2
PyLD==1.0.5
python-jose==3.1.0
python-mimeparse==1.6.0
pytz==2019.3
requests==2.23.0
requests_cache==0.5.2
rfc3986==1.3.2
validators==0.14.2
Flask==2.3.2
uWSGI==2.0.18
Werkzeug==1.0.0
