# Duplicates from setup.py
aniso8601==9.0.1
future==0.18.3
jsonschema==4.18.3
language-tags==1.2.0
openbadges_bakery==2.0.0
pycryptodome==3.18.0
pydux==0.2.2
PyLD==1.0.5
#PyLD==2.0.3
python-jose==3.3.0
python-mimeparse==1.6.0
pytz==2023.3
requests==2.31.0
requests_cache==1.1.0
rfc3986==2.0.0
validators==0.20.0
Flask==2.3.2
uWSGI==2.0.22
Werkzeug==2.3.6
six==1.16.0
urllib3==1.26.15
