<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Edubadges Global Open Badges 2.0 Validator</title>
	<link rel="stylesheet" type="text/css" href="/static/screen.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>
<main class="container">
<header class="row">
    <div class="col-md-4">
        <a id="logo" href="https://edubages.nl">
            <img class="logo" src="/static/img/edubadges_logo.svg" alt="Edubadges">
        </a>
    </div>
    <div class="col-md-8">
        <h1>Open Badges 2.0 Validator</h1>
    </div>
</header>


{% block main %}{% endblock %}

<footer>

</footer>

</main>
</body>
</html>
